<!--<footer class="footer navbar-fixed-bottom">
    <div class="row">
                <div class="col-lg-12">
                    <p>© 2017<a style="color:#0a93a6; text-decoration:none;" href="#"> CINEMA </a>, All rights reserved 2016-2017.</p>
                </div>
    </div>
</footer>
-->


<div class="container">

        <hr>

        <!-- Footer -->
        <footer>
            <div class="row">
                <div class="col-lg-12">
                     <p>© 2017<a style="color:#0a93a6; text-decoration:none;" href="#"> CINEMA </a>, All rights reserved 2016-2017.</p>
                </div>
            </div>
        </footer>

    </div>
    <!-- /.container -->