<app-header></app-header>
    <!-- Page Content -->
    <div class="container">
        <div class="row">
        <app-nav></app-nav>
         <div class="col-md-9">
        <router-outlet></router-outlet>
        <other-component></other-component>
<hr/>
<h1>
  {{title}} -  {{onOffRef2}} -- {{messageRef2}} <br/>
  <p  *ngFor="let a of listePaniersRef2" >{{a.id}} {{a.nom}} {{a.prenom}}</p>
</h1>
<button  (click)="onSwitchOnOff()" >on/off</button> <br/>
<button  (click)="onChangeMsg()" >change msg</button> <br/>
<button  (click)="onAddPanier(1)" >add panier</button> <br/>
<hr/>

<select (change)="onSelectionChange($event)">
   <option  *ngFor="let a of paniers" value="{{a.id}}" >
        {{a.id}} {{a.nom}} {{a.prenom}}</option>
</select>
<hr/>
<div *ngIf="sP">
  id: {{sP.id}} <br/>
  nom: <input type='text' [(ngModel)]="sP.nom" /> <br/>
  prenom: <input type='text' [(ngModel)]="sP.prenom" /> <br/>
  <button disabled='true' (click)="onUpdatePanier()" >update</button>
</div>

        </div>
         </div>
    </div>

