<div class="container col-md-9">
            <form  #authentification="ngForm"  class="form-horizontal"role="form">
                <h2>Authentification</h2>
                <div class="alert-danger">{{message}}</div>
                <div class="form-group">
                    <label for="email" class="col-sm-3 control-label">Email</label>
                    <div class="col-sm-9">
                        <input [(ngModel)]="client.email" #emailIns="ngModel" type="email" name="email" placeholder="Email" class="form-control" required>
                        <div class="alert alert-danger" [hidden]="emailIns.valid || emailIns.pristine">Champ invalide</div>

                    </div>
                </div>
                <div class="form-group">
                    <label for="mdp" class="col-sm-3 control-label">Mot de passe</label>
                    <div class="col-sm-9">
                        <input [(ngModel)]="client.mdp" #mdpIns="ngModel" type="password" name="mdp"   class="form-control" placeholder="password" required>
                          <div class="alert alert-danger" [hidden]="mdpIns.valid || mdpIns.pristine">Champ invalide</div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-9 col-sm-offset-3">
                        <button [disabled]="!authentification.valid" (click)="onConnect()"   class="btn btn-primary btn-block">connexion</button>
                    </div>
                </div>
            </form> <!-- /form -->
</div> <!-- ./container   -->